<!-- head_hwk.html -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
<link rel="stylesheet" href="{{site.baseurl}}/site.css" />
<link rel="stylesheet" href="{{site.baseurl}}/hwk.css" />
<script src="{{site.baseurl}}/site.js"></script>
<script src="{{site.baseurl}}/hwk.js"></script>
<script type="text/javascript"
    src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
</script>
<script>$(document).ready(function() {
     MathJax.Hub.Queue(["Typeset",MathJax.Hub]); // https://docs.mathjax.org/en/v1.0/typeset.html
 });
 </script>
