<div data-role="header" class="header">
 <nav data-role="navbar" data-grid-"d">
  <ul>
    <li><a href="http://ucsb-cs8-w18-wang.github.io">UCSB {{site.course}} richert</a></li>
    <li><a href="/" class="ui-btn-active">{{site.course}} {{site.qtr}}</a></li>
    <li><a href="{{site.legacy_wiki_url}}">{{site.legacy_wiki_name}}</a></li>
    <li><a href="/info/office_hours/">Office Hours</a></li>
  </ul>
 </nav>
 <nav data-role="navbar" data-grid-"d">
  <ul>
   <li><a href="{{site.gauchospace_course_page}}">Gauchospace</a></li>
   <li><a href="{{site.piazza_url}}">Piazza</a></li>
   <li><a href="http://ucsb-cs8-w18-wang.github.io">W18 github</a></li>
  </ul>
 </nav>
 {% if page.layout == "hwk" %}
 <nav data-role="navbar" data-grid-"d">
  <ul class="hwk-nav-bar">
  {% for asn in site.hwk %}
    <li><a href="{{asn.url}}">{{asn.num}}</a></li>
  {% endfor %}
  </ul>
 </nav>
{% endif %}
</div>
